aiohttp==3.7.4
aioice==0.7.5
aiortc==1.1.2
async-timeout==3.0.1
attrs==20.3.0
av==8.0.3
cffi==1.14.5
chardet==3.0.4
crc32c==2.2
cryptography==3.4.6
dnspython==2.1.0
idna==3.1
multidict==5.1.0
netifaces==0.10.9
picamera==1.13
pkg-resources==0.0.0
pycparser==2.20
pyee==8.1.0
pylibsrtp==0.6.8
typing-extensions==3.7.4.3
yarl==1.6.3
